<div class="grid-container footergrid">
<div class="container">

  <div class="grid-33 mobile-grid-100">
  <div class="foot-titleblock">Find us online:</div>
  <a href="//fb.me/hullcss"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a><br>
  <a href="//hullcss.slack.com/"><i class="fa fa-slack" aria-hidden="true"></i> Slack</a>

  <br></div>
  

  <div class="grid-33 mobile-grid-100">
  <div class="foot-titleblock">Find us IRL:</div>
	HullCSS<br>
	Enterprise Centre<br>
	University of Hull<br>
	Cottingham Road<br>
	Hull<br>
	HU6 7RX<br><br>
  <img class="rep-brands" src="{{site.baseurl}}/images/brand/huu-brand.png">
  <img class="rep-brands" src="{{site.baseurl}}/images/brand/university-brand.png">
  <br></div>


  <div class="grid-33 mobile-grid-100">
  <div class="foot-titleblock">Working with:</div>
  <img class="rep-brands" src="{{site.baseurl}}/images/brand/bcs.png">
  <br><br></div>
  <br>

  <div class="grid-33 mobile-grid-100">
  <div class="foot-titleblock">Legal stuff</div>
  <a href="/policies"> Legal Policies</a><br>
</div>
</div>

  
  
</div>
