<div class="grid-container headercontain">
  <div class="container">
    <a href="{{ site.baseurl }}/"
      ><img class="hullcss-logo" src="/images/brand/brand-nobg.png"
    /></a>

    <div class="rightblock">
      <a href="/about" class="btn btn-success">About</a>
      <a href="/blog" class="btn btn-success">Blog</a>
      <a href="//www.facebook.com/pg/hullCSS/events/" class="btn btn-success"
        >Events</a
      >
      <a href="/contact" class="btn btn-success">Contact</a>
      <a
        href="http://hullstudent.com/activities/ComputerScience"
        class="btn btn-success jointoday"
        >Join Today</a
      >
    </div>
  </div>
</div>
